.resume {
  font-family: 'Montserrat', Arial, sans-serif;
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #ff5252; /* Red border */
  border-radius: 10px;
  max-width: 800px;
  background-color: #f1f1f1; /* Light gray background */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.resume header {
  text-align: center;
  margin-bottom: 20px;
}

.resume header h1 {
  font-size: 48px;
  margin: 0;
  color: #4caf50; /* Green heading color */
  text-transform: uppercase;
}

.resume header p {
  font-size: 18px;
  color: #888;
  margin-bottom: 10px;
}

.resume section {
  margin-bottom: 30px;
}

.resume h2 {
  font-size: 28px;
  color: #ff5252; /* Red heading color */
  margin-bottom: 15px;
}

.resume ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.resume li {
  margin-bottom: 10px;
}

.resume footer {
  text-align: center;
  margin-top: 30px;
}

.resume footer p {
  font-size: 14px;
  color: #888;
}

/* Styling for Education and Experience entries */
.resume section ul li h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.resume section ul li p {
  font-size: 16px;
  color: #555;
}

/* Styling for the Profile section */
.resume section p {
  font-size: 20px;
  color: #444;
  line-height: 1.6;
  text-align: justify;
}

/* Styling for the Skills section */
.resume section ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.resume section ul li {
  margin: 5px;
  padding: 8px 15px;
  background-color: #4caf50; /* Green badge background color */
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .resume header h1 {
    font-size: 36px;
  }

  .resume header p {
    font-size: 16px;
  }

  .resume h2 {
    font-size: 24px;
  }

  .resume section ul li h3 {
    font-size: 22px;
  }

  .resume section ul li p {
    font-size: 14px;
  }

  .resume section p {
    font-size: 18px;
  }

  .resume footer p {
    font-size: 12px;
  }

  .resume section ul li {
    font-size: 14px;
    padding: 5px 10px;
  }
}